<!DOCTYPE html>
<html lang="en">
    <head>



        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mercado liebre</title>
        <link  href="/css/style.css" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>

    <body>
        
        <header>
            <div class="top-header">
                <img class="logo" src="/image/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="300px">
                <div class="search">
                    <div class="input">buscar productos,marcas...</div>
                    <div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>
                </div>
            </div>    
                <p> <i class="fa-solid fa-hand-holding-usd"></i>comprá en cuotas y sin tarjeta de credito</p>

                <nav>
                    <ul>
                        <li>
                            <a href="#">Ofertas</a>
                        </li>
                        <li>
                            <a href="#">Tiendas oficiales</a>
                        </li>
                        <li>
                            <a href="">Vender</a>
                        </li>
                        <li>
                            <a href="#">Ayuda</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/registro">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i>
                        </li>
                        <li>
                            <a href="/login">Ingresá</a>
                            
                                <i class="fa-solid fa-right-to-bracket"></i>
                            
                        </li>
                        <li>
                            <a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i>
                        </li>
                    </ul>
                </nav>

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
        </header>

        

        <form action="/" method="GET" class="formulario-registro">

            <div>
                <h3> Ingresá</h3>
            </div>

            <div>
                <input class="input-texto" type="text" name="nombreUsuario" placeholder="Nombre de Usuario">
            </div>

            <div>
                <input  class="input-texto" type="password" name="clave" placeholder="ingresa tu contraseña">
            </div>

            <div>
                <button class="enviar-login">
                    Enviar
                </button>
            </div>


        </form>


        <footer>
            <section>
                <article>
                    <div><i class="fa-solid fa-credit-card"></i></div>

                    <h5>Pagá con tarjeta o en efectivo</h5>

                    <p>Con Mercado Liebre Cash, tenés cuotas sin</p>
                    <p>interés con tarjeta o efectivo en</p> 
                    <p> puntos de pago. ¡Y siempre es seguro!</p>

                </article>
            </section>

            <section>

                <div><i class="fa-solid fa-gift"></i></div>

                <h5>envío gratis desde $ 2.500</h5>

                <p>Solo por estar registrad@ en Mercado Liebre</p>
                <p>tenés envíos gratis en miles de productos.</p>
                <P>Es un beneficio de Mercado Puntos.</P> 

            </section>

            <section>
                <div><i class="fa-solid fa-user-shield"></i></div>

                <h5>Seguridad, de principio a fin</h5>

                <P>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</P>
                <P>no hay nada que no puedas hacer,porque</P>
                <P>estás siempre protegid@.</P>
            
            </section>

            <section>
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </section>
        </footer>





    </body>



</html>